/*=========================================
            ABOUT US SECTION
==========================================*/

.section.about-us {
  background: url('../img/bg_ournature.jpg') center center no-repeat;
  background-size: contain;
  background-color: #000;
  background-attachment: fixed;
  .content {
    width: 90%;
    max-width: 1340px;
    min-width: 260px;
    height: 100%;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    @include bp(md) {
      max-width: 990px;
    }
    @include bp(ls) {
      width: 90%;
    }
    @include bp(xl) {
      width: 70%;
    }
    h3 {
      opacity: 0;
      text-align: center;
      font-family: $chunkfive;
      font-size: 8vw;
      color: $white;
      margin-bottom: 40px;
      transform: translate(0px, 30px);
      text-shadow: 0px 0px 30px rgb(0, 0, 0);
      @include bp(md) {
        font-size: 86px !important;
      }
      @include bp(ls) {
        font-size: 10vh;
      }
      @include bp(xl) {
        font-size: 5vw;
      }
    }
    p {
      opacity: 0;
      text-align: center;
      font-family: $exo;
      font-size: 4.5vw;
      color: $white;
      transform: translate(0px, 30px);
      text-shadow: 0px 0px 30px rgb(0, 0, 0);
      @include bp(sm) {
        font-size: 3vw;
      }
      @include bp(md) {
        font-size: 28px !important;
        line-height: 28px;
      }
      @include bp(ls) {
        font-size: 2vw;
      }
      @include bp(xl) {
        font-size: 1.5vw;
      }
    }
  }

  &.init {
     .content {
      h3 {
        opacity: 1;
        transform: none;
        transition: opacity 0.5s ease-in-out 0.1s, transform 0.5s ease-in-out 0.1s;
      }
      p {
        opacity: 1;
       transform: none;
       transition: opacity 0.5s ease-in-out 0.2s, transform 0.5s ease-in-out 0.2s;

       &:nth-child(2){
        transition: opacity 0.5s ease-in-out 0.3s, transform 0.5s ease-in-out 0.3s;
       }
       &:nth-child(3){
        transition: opacity 0.5s ease-in-out 0.4s, transform 0.5s ease-in-out 0.4s;
       }
       &:nth-child(4){
        transition: opacity 0.5s ease-in-out 0.5s, transform 0.5s ease-in-out 0.5s;
       }
      }
     }
  }
}

@media (min-width: 768px) {
/***[ ABOUT US SECTION ]***/
  .section.about-us {
    .content {
      p {
        font-size: 3vw;
      }
    }
  }
}
