


/*=========================================
          OUR BRANDS SECTION
==========================================*/
.our-brands {
  overflow: hidden;
  background: url('../img/bg_ourBrands.jpg') center center no-repeat;
  background-size: contain;
  @include bp(md) {
    background-attachment: fixed;
  }
  h2 {
    font-family: $chunkfive;
    font-size: 7vw;
    text-align: center;
    color: $white;
    opacity: 0;
    transform: translate(0px, 30px);
    @include bp(ls) {
      font-size: 5vw;
    }
  }
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .content-feathers {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      opacity: 0;
      transform: translate(0px, 30px);

      .brand {
        overflow: hidden;
        width: 23vw;
        margin: 2vh 2vw;
        @include bp(ls) {
          width: 10vw;
          margin: 3vh 6vw;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  &.init {
    h2 {
      opacity: 1;
      transform: none;
      transition: opacity 0.5s ease-in-out 0.1s, transform 0.5s ease-in-out 0.1s;
    }
    .content {
      .content-feathers {
        opacity: 1;
        transform: none;
        transition: opacity 0.5s ease-in-out 0.3s, transform 0.5s ease-in-out 0.3s;
      }
    }
  }
}
