@font-face {
    font-family: 'chunkfiveroman';
    src: url('../fonts/chunkfive-webfont.eot');
    src: url('../fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chunkfive-webfont.woff2') format('woff2'),
         url('../fonts/chunkfive-webfont.woff') format('woff'),
         url('../fonts/chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'london_tubenormal';
  src: url('../fonts/london-tube-webfont.eot');
  src: url('../fonts/london-tube-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/london-tube-webfont.woff2') format('woff2'),
       url('../fonts/london-tube-webfont.woff') format('woff'),
       url('../fonts/london-tube-webfont.ttf') format('truetype'),
       url('../fonts/london-tube-webfont.svg#london_tubenormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Exo';
	src: url('../fonts/Exo-Medium.eot');
	src: url('../fonts/Exo-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Exo-Medium.woff') format('woff'),
		url('../fonts/Exo-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
