/*=========================================
            FOOTER SECTION
==========================================*/
.footer {
  // background: url('../img/footer-bg.png');
  display: table;
  width: 100vw;
  position: relative;
  overflow: hidden !important;
  h2 {
    @include bp(sm) {
      font-size: 6vw;
      max-width: 70%;
      margin: 1vh auto 5vh;
    }
    @include bp(md) {
      font-size: 4vw !important;
      max-width: 100% !important;
    }
  }

  .fp-tableCell {
    padding: 20px 0px;
    vertical-align: middle;
    display: table-cell;
  }

  .content {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    @include bp(sm) {
      flex-direction: column;
    }
    @include bp(ls) {
      flex-direction: row;
    }
    .box {
      width: 100%;
      margin: 20px auto;
      padding: 0px 0 25px;
      @include bp(md) {
        display: block !important;
        width: 100% !important;
        &.right {
          > div {
            width: 90%;
            margin: 0 auto;
          }
        }
      }
      @include bp(ls) {
        margin: 0 auto;
        display: flex;
      }
      &.left {
        display: none;

        img {
          width: 85%;
          box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
        }
      }

      h3 {
        font-family: $chunkfive;
        font-size: 4vw;
        margin-top: 1vh;
        @include bp(sm) {
          font-size: 3vw;
        }
        @include bp(md) {
          margin-bottom: 2vh;
          font-size: 30px !important;
        }
        @include bp(ls) {
          font-size: 2.5vw;
          margin-top: 2vh;
        }
      }
      hr {
        border-top: 1px solid #596468;
        border-bottom: 1px solid #FFF;
        @include bp(md) {
          display: block !important;
        }
        @include bp(ls) {
          display: none;
        }
      }
      p {
        font-family: $exo;
        font-size: 3vw;
        margin-bottom: 0;
        color: $black;
        @include bp(sm) {
          font-size: 2vw;
        }
        @include bp(md) {
          font-size: 14px !important;
        }
        @include bp(ls) {
          font-size: 1.8vw;
        }
        a {
          color: $black;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
        &.mail {
          margin-top: 10px;
          a {
            display: block;
          }
        }
        &.succes-message {
          margin: 10px 0;
          color: #00d6b0;
          font-size: 16px !important;
        }
      }
      a.mail {
        color: #019d81;

      }
      form {
        @include bp(md) {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
      }
      input,
      textarea {
        width: 100%;
        margin: 5px 0;
        padding: 4px 1% 5px 6%;
        background-color: $white;
        border-radius: 5px;
        border: solid 1px rgba(0, 0, 0, 0.23);
        resize: none;
        color: $black;
        font-family: $exo;
        font-size: 3vw;
        box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.2);
        @include bp(sm) {
          font-size: 1.5vw;
          margin-top: 15px;
          padding: 10px 20px;
        }
        @include bp(ls) {
          font-size: 1.5vw;
        }
      }
      input {
        @include bp(md) {
          width: 47%;
          font-size: 14px !important;
        }
      }
      textarea {
        min-height: 50px;
        border-radius: 5px;
        @include bp(sm) {
          min-height: 100px !important;
        }
        @include bp(md) {
          font-size: 14px !important;
          min-height: 75px !important;
        }
        @include bp(ls) {
          min-height: 50px;
        }
      }
      @include placeholder {
        color: $black;
        font-family: $exo;
        font-size: 3vw;
        opacity:  1;
        @include bp(sm) {
          font-size: 1.5vw;
        }
        @include bp(md) {
          font-size: 14px !important;
        }
        @include bp(ls) {
          font-size: 1.5vw;
        }
      }
      .send {
        border: none;
        border-radius: 5px;
        background: #00d6b0;
        font-family: $exo;
        color: $white;
        padding: 10px 60px;
        text-transform: uppercase;
        font-size: 5vw;
        margin: 0 auto;
        display: flex;
        @include bp(sm) {
          font-size: 2.8vw;
          padding: 5px 30px;
          margin-top: 12px;
          margin-right: 0;
        }
        @include bp(md) {
          font-size: 22px !important;
          padding: 5px 40px !important;
        }
      }
      .social-media {
        @include bp(sm) {
          width: 60%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 10px;
          a {
            width: 7%;
            margin: 0 3%;
            &.facebook {
              width: 4.3%;
            }
            &.googleplus {
              width: 10%;
            }
            svg {
              width: 100%;
              overflow: visible;
            }
          }
        }
      }
    }
  }
  .card {
    background: rgba(255, 255, 255, 0.80);
  }
  .clock {
    position: absolute;
    height: 295px;
    width: 50%;
    max-width: 685px;
    top: 0;
    bottom: 0;
    margin: auto;
    img {
      width: 100%;
    }
  }
  .time {
    color: #FFF;
    -moz-transform: skew(20deg, -3deg);
    -webkit-transform: skew(20deg, -3deg);
    -o-transform: skew(20deg, -3deg);
    -ms-transform: skew(20deg, -3deg);
    transform: skew(20deg, -3deg);
    position: absolute;
    right: 45%;
    top: 17%;
    p {
      &:first-child {
        margin-bottom: 0;
        border-bottom: 1px solid #FFF;
      }
      &:last-child {
        font-size: 11px;
        text-align: right;
      }
    }
  }
  .other-time {
    margin-bottom: 15px;
    p {
      color: #FFF;
      font-size: 50px;
      line-height: 50px;
      &:first-child {
        margin-bottom: 0;
        border-bottom: 2px solid #FFF;
      }
      &:last-child {
        font-size: 33px;
        line-height: 33px;
        text-align: right;
        position: absolute;
        right: 14px;
        top: 14px;
      }
    }
  }
}

@keyframes time-ani {
    from {opacity: 0;}
    to {opacity: 1;}
}

.time-animation {
  animation: time-ani 0.5s infinite;
}



@media (min-width: 960px) {
  .world-times {
    .row {
      position: absolute;
      bottom: 0;
    }
  }
  .footer {
    .other-time {
      p {
        color: #FFF;
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 10px;
        &:first-child {
          margin-bottom: 0;
          border-bottom: 2px solid #FFF;
        }
        &:last-child {
          font-size: 28px;
          line-height: 28px;
          text-align: right;
          position: relative;
          right: 0px;
          top: 0px;
        }
      }
    }
  }
}


.time-container {
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}
