/*=========================================
	          Header Menu
==========================================*/

.hamburguer_menu {
  position: fixed;
  top: 10px;
  left: 20px;
  display: flex;
  flex-wrap: nowrap;
  z-index: 99;
  @include bp(md) {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
  }
  .button_menu {
    width: 40px;
    min-width: 40px;
    height: 32px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 99;
    background-color: $pink;
    @include bp(md) {
      width: 60px;
      height: 42px;
    }
    span {
      width: 65%;
      height: 2px;
      margin: 1px 0;
      background: $white;
      transition: transform 0.3s ease-in-out;
      transform-origin: left center;
      @include bp(md) {
        height: 5px;
      }
    }
    &.close_menu {
      span {
        &:nth-child(1) {
          transform: rotate(-42deg) translate(-5px, 11px);
          @include bp(md) {
            transform: rotate(-42deg) translate(-10px, 18px);
          }
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(42deg) translate(-7px, -12px);
          @include bp(md) {
            transform: rotate(42deg) translate(-10px, -18px);
          }
        }
      }
    }
    &:hover {
      @include bp(md) {
        span {
          &:nth-child(2) {
            background-color: $white;
            transform: scale(0.8, 1);
          }
        }
      }
    }
  }
  nav {
    padding-left: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 32px;
    transition: height 500ms cubic-bezier(1, 0, 0, 1) 1.7s, width 500ms cubic-bezier(1, 0, 0, 1) 1.3s;
    @include bp(md) {
      width: auto;
      height: 42px;
      padding-left: 0;
      position: relative;
      transform: translateX(-100%);
      transition: transform 0.5s ease-in-out 0.8s;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.active {
      transition: height 500ms cubic-bezier(1, 0, 0, 1) 0s, width 500ms cubic-bezier(1, 0, 0, 1) 0.5s;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0;
      padding: 0;
      width: auto;
      overflow: hidden;
      @include bp(md) {
        height: 100%;
        flex-wrap: nowrap;
        flex-direction: row;
      }
      li {
        display: flex;
        align-items: center;
        min-height: 40px;
        list-style: none;
        margin: 0 10px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out 0.9s;
        @include bp(md) {
          min-height: 0;
          transition: opacity 0.5s ease-in-out 0.1s;
        }
        a {
          color: $white;
          text-transform: uppercase;
          text-decoration: none;
        }

        // $class-slug: &:nth-child !default

        // @for $i from 1 through 4
        //   .#{$class-slug}(#{$i})
        //     width: 60px + $i
        //     transition: opacity 0.5s ease-in-out 0.#{$i}s;

        &:nth-child(2){
          transition: opacity 0.5s ease-in-out 0.5s;
          @include bp(md) {
            transition: opacity 0.5s ease-in-out 0.2s !important;
          }
        }
        &:nth-child(3){
          transition: opacity 0.5s ease-in-out 0.4s;
          @include bp(md) {
            transition: opacity 0.5s ease-in-out 0.3s !important;
          }
        }
        &:nth-child(4){
          transition: opacity 0.5s ease-in-out 0.3s;
          @include bp(md) {
            transition: opacity 0.5s ease-in-out 0.4s !important;
          }
        }
        &:nth-child(5){
          transition: opacity 0.5s ease-in-out 0.2s;
          @include bp(md) {
            transition: opacity 0.5s ease-in-out 0.5s !important;
          }
        }
        &:nth-child(6){
          transition: opacity 0.5s ease-in-out 0.1s;
          @include bp(md) {
            transition: opacity 0.5s ease-in-out 0.6s !important;
          }
        }
        &:nth-child(7){
          transition: opacity 0.5s ease-in-out 0s;
          @include bp(md) {
            transition: opacity 0.5s ease-in-out 0.7s !important;
          }
        }

        &:hover,
        &.active {
          a {
            color: #8b8484;
          }
        }
      }
    }
    &.active {
      transform: translateX(0);
      @include bp(md) {
        transition: transform 0.5s ease-in-out 0s;
      }
      ul {
        li {
          opacity: 1;

         &:nth-child(2){
            transition: opacity 0.5s ease-in-out 1s;
          }
          &:nth-child(3){
            transition: opacity 0.5s ease-in-out 1.1s;
          }
          &:nth-child(4){
            transition: opacity 0.5s ease-in-out 1.2s;
          }
          &:nth-child(5){
            transition: opacity 0.5s ease-in-out 1.3s;
          }
          &:nth-child(6){
            transition: opacity 0.5s ease-in-out 1.4s;
          }
          &:nth-child(7){
            transition: opacity 0.5s ease-in-out 1.5s;
          }
        }
      }
    }
  }
}
