@keyframes mobileMenuAnimationIn {
 0% {
    transform: scale(0.43, 0.35);
 }
 50% {
    transform: scale(0.43, 1);
 }
 100% {
    transform: scale(1, 1);
 }
}
@keyframes mobileMenuAnimationOut {
 0% {
  transform: scale(1, 1);
 }
 50% {
    transform: scale(0.43, 1);
 }
 100% {
    transform: scale(0.43, 0.35);
 }
}

@keyframes flareScale {
   0% {
      transform: scale(0);
   }
   100% {
      transform: scale(1);
   }
}
