/*=========================================
              Loading
==========================================*/

.page-loading {
   background-color: #141414;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   top: 0;
   z-index: 9999;
}

.page-loading .loader {
   background: #BF9865;
   border-radius: 50%;
   height: 50px;
   left: 50%;
   margin-left: -23px;
   margin-top: -14px;
   position: absolute;
   top: 50%;
   width: 50px;
   animation: load 1.1s linear infinite;
}

.page-loading .loader:after {
   content: '';
   position: absolute;
   width: 49px;
   height: 49px;
   top: 1px;
   right: 0;
   left: 0;
   margin: auto;
   background-color: #141414;
   border-radius: 50%;
}

@keyframes load {
   to {
      transform: rotate(360deg);
   }
}

.page-loading .text {
   color: #a2afbc;
   display: block;
   font-size: 11px;
   left: 50%;
   margin-left: -17px;
   margin-top: 50px;
   position: absolute;
   top: 50%;
}
