/*=========================================
              MAP SECTION
==========================================*/

.map {
  overflow: hidden;
  // background: url('../img/map_background.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;

  .fp-tableCell {
    position: relative;
  }
  .video-background {
    iframe {
      width: 200%;
      height: 200%;
      position: absolute;
      top: -50%;
      left: 0;
      @include bp(md) {
        top: 0;
        width: 100vw;
        height: 100vh;
      }
    }
  }
  .mask-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/arboles-xs.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include bp(sm) {
      background-image: url('../img/arboles.png');
      background-size: cover;
      background-position: center;
    }
  }

  .content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      color: $white;
      font-family: $chunkfive;
      font-size: 10vw;
      text-align: center;
      z-index: 10;
      @include bp(sm) {
        font-size: 6vw;
      }
      @include bp(md) {
        font-size: 4vw !important;
      }
    }
    .content-map {
      width: 150%;
      margin: 10px auto;
      z-index: 10;
      @include bp(sm) {
        width: 90% !important;
        margin: 20px auto !important;
      }
      @include bp(md) {
        width: 62% !important;
        margin: 20px auto !important;
      }
      @include bp(ls) {
        width: 45%;
        margin: 10px auto;
      }
      h2 {
        @include bp(ls) {
          font-size: 3vw;
          margin: 0;
        }
      }
      svg {
        .star-1,
        .star-2,
        .star-3,
        .star-4,
        .star-5,
        .star-6,
        .star-7 {
          .center,
          .first-line,
          .last-line {
            transform-origin: center;
            transform: scale(0);
          }
        }
      }
    }
    .content-agencies {
      max-width: 85%;
      padding: 0;
      margin: 0 ;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      list-style: none;
      z-index: 10;
      li {
        margin: 0 4% 15px;
        width: 42%;
        @include bp(sm) {
          margin: 0 4% 20px;
          width: 30%;
        }
        @include bp(md) {
          margin: 0 4% 15px !important;
          width: 16% !important;
        }
        @include bp(sm) {
          margin: 0 4% 5px;
          width: 15%;
        }
        img {
          width: 100%;
        }
        &.xs {
          display: block;

          img {
            width: 32%;
            margin: 0 auto;
            display: block;
          }
        }
        &.sm {
          display: block;

          img {
            width: 60%;
            margin: 0 auto;
            display: block;
          }
        }
      }
    }
  }
}
