.nav_aside {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;

  ul {
    padding: 0;

    li {
      list-style: none;
      &:nth-child(2) {
        a {
          span {
            width: 70px;
          }
        }
      }
      a {
        width: 18px;
        height: 18px;
        margin: 5px 10px;
        display: block;
        position: relative;

        &:after {
          content: "";
          width: 8px;
          height: 8px;
          margin: 0 auto;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          background-color: $white;
          transform: translateY(-50%);
          transition: transform 0.2s linear;
        }
        span {
          opacity: 0;
          position: absolute;
          right: 20px;
          color: $white;
          transition: opacity 0.3s linear;
          height: 24px;
          top: 0;
          bottom: 0;
          margin: auto;
          font-family: $exo;
        }
        @media (min-width: 992px) {
          &:hover {
            span {
              opacity: 1;
            }
          }
        }
      }
      &.active,
      &:hover {
        a {
          &:after {
            transform: scale(1.5) translateY(-2px);
            transform-origin: center center;
          }
        }
      }
      &.active {
        span {
          opacity: 0;
        }
      }
    }
  }
}
