/*=========================================
            NEWS SECTION
==========================================*/
.news {
  // background: url('../img/bg_news.jpg') center center no-repeat;
  // background-size: contain;
  padding: 1% 0;
  text-align: center;

  background: linear-gradient(226deg, #17d5a4, #821194);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
  }
  @keyframes AnimationName {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
  }
  h2 {
    width: 100%;
    margin: 8% auto 1%;
    color: #fff;
    text-align: center;
    font-family: $chunkfive;
    font-size: 10vw;
    @include bp(md) {
      font-size: 4vw !important;
      margin: 2% auto 1%;

    }
  }
  p {
    color: #FFF;
    font-size: 5vw;
    margin-bottom: 8%;
    @include bp(md) {
      font-size: 3vw !important;
      margin-bottom: 2%;
    }
  }
  .works {
    max-width: 800px;
    width: 90%;
    display: flex;
    margin: 0 auto 4%;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: wrap;
  }
  .work {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 25vh;
    position: relative;
    margin: 0 auto;
    @include bp(sm) {
      width: 50%;
      height: 25vh;
    }
    &:first-child {
      background-image: url(../img/portfolio/work1.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }
    &:nth-child(2) {
      background-image: url(../img/portfolio/work2.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: none;
      @include bp(md) {
        display: flex;
      }
    }
    &:nth-child(3) {
      background-image: url(../img/portfolio/work3.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: none;
      @include bp(md) {
        display: flex;
      }
    }
    &:last-child {
      background-image: url(../img/portfolio/work4.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }
  }
  .info_banner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background: linear-gradient(226deg, #17d5a4, #821194);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;

    @-webkit-keyframes AnimationName {
      0%{background-position:0% 90%}
      50%{background-position:100% 11%}
      100%{background-position:0% 90%}
    }
    @-moz-keyframes AnimationName {
      0%{background-position:0% 90%}
      50%{background-position:100% 11%}
      100%{background-position:0% 90%}
    }
    @keyframes AnimationName {
      0%{background-position:0% 90%}
      50%{background-position:100% 11%}
      100%{background-position:0% 90%}
    }
    text-align: center;
    color: #FFF;
    opacity: 0;
    transition: 0.5s;
    overflow: hidden;
    &::before,
    &::after {
      content: ' ';
      position: absolute;
      width: 90%;
      max-width: 300px;
      max-height: 150px;
      height: 90%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transform: scaleX(0.2);
      transition: 0.5s;
    }
    &::after {
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      border-top: none;
      border-bottom: none;
      transform: scaleX(1);
      transform: scaleY(0.2);
    }
    .info {
      position: absolute;
      width: 100%;
      height: 105px;
      margin: auto;
      top: 0;
      bottom: 0;
    }
    h3,
    p {
      margin: 0 auto;
      transition: 0.5s;
      text-transform: uppercase;
      font-size: 16px !important;
      width: 90%;
    }
    h3 {
      margin-bottom: 10px;
      transform: translateY(-30%);
      font-size: 4vw;
    }
    p {
      margin-bottom: 10px;
      opacity: 0;
      transform: scale(0.5);
      font-size: 2.5vw;
    }
    .btn--cta {
      color: #FFF;
      padding: 10px 0;
      border: 1px solid;
      font-size: 3vw;
      opacity: 0;
      transform: translateY(30%);
      transition: 0.5s;
      position: relative;
      z-index: 1;
      display: block;
      width: 50%;
      margin: 0 auto;
      @media (min-width: 991px) {
        font-size: 18px;
        width: 40%;
      }
    }
    &:hover {
      opacity: 1;
      &::before {
        transform: scaleX(1);
      }
      &::after {
        transform: scaleY(1);
      }
      h3,
      p {
        transform: translateY(0%) scale(1);
        opacity: 1;
      }
      .btn--cta {
        opacity: 1;
        transform: translateY(0%);
      }
    }

  }

}

.btn--cta {
  color: #FFF;
  padding: 10px 25px;
  border: 1px solid;
  font-size: 18px;
  opacity: 1;
  transform: translateY(30%);
  transition: 0.5s;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  width: 60%;
  max-width: 195px;
  margin: 0 auto;
  &:hover {
    color: #FFF;
    text-decoration: none;
  }
}
