
/*=========================================
        PROVEN EXPERIENCE SECTION
==========================================*/
.proven-experience {
  background: url('../img/bg_experience.jpg') center center no-repeat;
  background-size: contain;
  @include bp(md) {
    background-attachment: fixed;
  }
  .content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include bp(sm) {
      width: 90%;
    }
    @include bp(md) {
      width: 90%;
      max-width: 1000px;
    }
    h2,
    h6,
    p,
     {
      opacity: 0;
      text-align: center;
      color: $white;
      transform: translate(0px, 30px);
      text-shadow: 0px 0px 30px rgb(0, 0, 0);
    }
    h2 {
      font-family: $chunkfive;
      font-size: 8vw;
      @include bp(sm) {
        font-size: 7vw;
      }
      @include bp(md) {
        font-size: 70px !important;
        margin-bottom: 30px;
      }
      @include bp(ls) {
        font-size: 5vw;
        margin-top: 0;
      }
    }
    h3 {
      font-family: $chunkfive;
    }
    h6 {
      @include bp(md) {
        font-size: 16px;
        margin: 30px auto 20px !important;
      }
      @include bp(ls) {
        margin: 0;
      }
    }
    p {
      font-family: $exo;
      font-size: 4vw;
      @include bp(md) {
        font-size: 27px !important;
        line-height: 27px;
        margin: 0;
      }
      @include bp(ls) {
        font-size: 2vw;
      }
    }
    .content-certification {
      display: flex;
      justify-content: center;
      align-items: center;
      @include bp(md) {
        margin: 30px auto;
      }
      .content-logos {
        max-width: 20%;
        opacity: 0;
        transform: translate(0px, 30px);
        @include bp(sm) {
          width: 22% !important;
          max-width: 150px !important;
        }
        @include bp(md) {
          width: 40% !important;
          max-width: 140px !important;
        }
        @include bp(ls) {
          max-width: 7%;
        }
        img {
          width: 100%;
        }
      }
    }
    .technology-partners {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      @include bp(md) {
        flex-wrap: nowrap;
      }
      .partner-logo {
        width: 22%;
        max-width: 100px;
        margin: 0 3%;
        overflow: hidden;
        opacity: 0;
        transform: scale(0);
        transform-origin: center;
        @include bp(md) {
          max-width: 160px;
          width: 100% !important;
        }
        @include bp(ls) {
          width: 10%;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  &.init {
     .content {
      h2, h6,
      .content-logos,
      .partner-logo {
        opacity: 1;
        transform: none;
        transition: opacity 0.5s ease-in-out 0.1s, transform 0.5s ease-in-out 0.1s;
      }
      p {
        opacity: 1;
       transform: none;
       transition: opacity 0.5s ease-in-out 0.2s, transform 0.5s ease-in-out 0.2s;

       &:nth-child(2){
        transition: opacity 0.5s ease-in-out 0.3s, transform 0.5s ease-in-out 0.3s;
       }
       &:nth-child(3){
        transition: opacity 0.5s ease-in-out 0.4s, transform 0.5s ease-in-out 0.4s;
       }
       &:nth-child(4){
        transition: opacity 0.5s ease-in-out 0.5s, transform 0.5s ease-in-out 0.5s;
       }
      }
      h6 {
        transition: opacity 0.5s ease-in-out 0.6s, transform 0.5s ease-in-out 0.6s;
       }
       .content-logos {
          transition: opacity 0.5s ease-in-out 0.3s, transform 0.5s ease-in-out 0.3s;
       }
       .partner-logo {
          transition: opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.8s, transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.8s;

          &:nth-child(2n) {
            transition-delay: 0.9s
          }
          &:nth-child(3n) {
            transition-delay: 1s
          }
          &:nth-child(4n) {
            transition-delay: 1.1s
          }
          &:nth-child(5n) {
            transition-delay: 1.2s
          }
          &:nth-child(6n) {
            transition-delay: 1.3s
          }
       }
     }
  }
}
