/*=========================================
      RICH MEDIA EXPERTS SECTION
==========================================*/

.rich-media-experts {
  overflow: hidden;
  background: linear-gradient(135deg, #6fe19b, #7198e8, #8c61e3);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 19s ease infinite;
  -moz-animation: AnimationName 19s ease infinite;
  animation: AnimationName 19s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:5% 0%}
      50%{background-position:96% 100%}
      100%{background-position:5% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:5% 0%}
      50%{background-position:96% 100%}
      100%{background-position:5% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:5% 0%}
      50%{background-position:96% 100%}
      100%{background-position:5% 0%}
  }

  .content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 2000px;
    margin: auto;
    @include bp(ls) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    h2 {
      width: 100%;
      margin: 20px auto 0;
      color: #06303a;
      text-align: center;
      font-family: $chunkfive;
      font-size: 8vw;
      @include bp(md) {
        font-size: 3.5vw !important;
      }
      @include bp(lg) {
        margin: 40px auto 0;
      }
      @include bp(ls) {
        font-size: 2.5vw;

        &::first-line {
          font-size: 3vw;
        }
      }
      &::first-line {
        font-size: 7vw !important;
        word-break: break-all;
      }
    }
    .culunm {
      .box {
        width: 100%;
        text-align: left;
        margin: 0 auto;
        @include bp(md) {
          &:first-child {
            margin-bottom: 50px;
          }
          &.ads {
            h3 {
              text-align: right;
              margin-bottom: 10px;

              &:before {
                content: "01";
                position: absolute;
                top: -12px;
                right: 0;
                font-family: "chunkfiveroman";
                font-size: 45px;
                color: rgba(255, 255, 255, 0.75);
                z-index: -1;
              }
            }
            li {
              text-align: right;
            }
          }
          &.creative {
            h3 {
              text-align: right;
              margin-bottom: 10px;

              &:before {
                 content: "02";
                position: absolute;
                top: -12px;
                right: 0;
                font-family: "chunkfiveroman";
                font-size: 45px;
                color: rgba(255, 255, 255, 0.75);
                z-index: -1;
              }
            }
            li {
              text-align: right
            }
          }
          &.transcreation {
            h3 {
              &:before {
                content: "03";
                position: absolute;
                top: -12px;
                left: 0;
                font-family: "chunkfiveroman";
                font-size: 45px;
                color: rgba(255, 255, 255, 0.75);
                z-index: -1;
              }
            }
            ul {
              padding-left: 5px;
            }
          }
          &.ad-server {
            h3 {
              &:before {
                content: "04";
                position: absolute;
                top: -12px;
                left: 0;
                font-family: "chunkfiveroman";
                font-size: 45px;
                color: rgba(255, 255, 255, 0.75);
                z-index: -1;
              }
            }
            ul {
              padding-left: 5px;
            }
          }
        }
        @include bp(ls) {
          width: 40%;
        }
        h3 {
          font-family: $exo;
          font-size: 4vw;
          margin: 10px auto 0;
          @include bp(md) {
            font-size: 2vw !important;
            position: relative;
            margin-bottom: 10px;
            z-index: 2;
          }
          @include bp(ls) {
            font-size: 2.5vw;
          }
        }
      }
      ul {
        margin-bottom: 0;

        li {
          font-family: $exo;
          font-size: 3vw;
          list-style: none;
          @include bp(md) {
            font-size: 1vw;
            position: relative;
          }
          @include bp(ls) {
            font-size: 1.8vw;
          }
          &:before {
            content: '.';
            position: relative;
            top: -5px;
            left: -5px;
            display: inline-block;
            vertical-align: middle;
            line-height: 0;
            height: 0;
          }
        }
      }
      &.center {
        display: none;
        @include bp(md) {
          display: block;
          width: 30%;

          img {
            width: 100%;
          }
        }
      }
      &.left {
        opacity: 0;
        transform: translate(0px, 30px);
        @include bp(md) {
          transform: translate(-30px, 0px);
        }
      }
      &.right {
        opacity: 0;
        transform: translate(0px, 30px);
        @include bp(md) {
          transform: translate(30px, 0px);
        }
      }
    }
  }

  &.init {
    .content {
      .left,
      .right {
        opacity: 1 !important;
        transform: none !important;
        transition: opacity 0.5s ease-out 0.1s, transform 0.5s ease-out 0.1s;
      }
    }
  }

  .video-colum {
    position: relative;
    video {
      position: absolute;
      z-index: 0;
      width: 68%;
      max-width: 358px;
      top: 15%;
      left: 0;
      right: 0;
      margin: auto;
      @include bp(lg) {
        width: 108%;
        // max-width: 508px;
      }
    }
    img {
      position: relative;
      max-width: 525px;
      margin: 0 auto;
      display: block;
    }
  }
  .btn-portfolio {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    @include bp(lg) {
      padding-top: 50px;
    }
    a {
      font-size: 20px;
      color: #fff;
      font-weight: 500;
      border: 2px solid ;
      padding: 10px 30px;
      background: transparent;
      transition: 0.5s;
      &:hover {
        text-decoration: none;
        background: white;
        border-color: #FFF;
        color: #000;
      }
    }
  }
}
