/*=========================================
            Scroll to Top
==========================================*/

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-image: url(../img/to-top-1.png);
  background-color: #181818;
  background-size: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s 0s, visibility 0s .3s;
  z-index: 1000;
  @include bp(md) {
    background-size: 100%;
  }
  &.cd-is-visible {
    visibility: visible;
    opacity: 1;
  }
}
