/*=========================================
            CAROUSEL HOME
==========================================*/
.section.carousel {
  ul {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    div {
      height: 100%;
    }

    li {
      width: 100%;
      height: 100%;

      figure {
        position: relative;
        height: 100%;

        .background {
          max-width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
        }

        figcaption {
          width: 100%;
          // max-width: 800px;
          margin: 0 auto;
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          transform: translateY(-50%);

          .wrap_content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            @include bp(ls) {
              flex-wrap: nowrap;
              flex-direction: row;
            }
            .img-responsive {
              max-width: 50%;
              min-width: 220px;
              opacity: 0;
              transform: translate(0px, -20px);
              transition: transform 1s ease-in-out 0.2s, opacity 1s ease-in-out 0.2s;
              @include bp(md) {
                display: none !important;
              }
              @include bp(ls) {
                display: block !important;
                max-width: 40%;
                transform: translate(10px, 0px);
              }
              &.show {
                transform: none;
                opacity: 1;
                @include bp(ls) {
                  transform: none;
                }
              }
            }
            .logo-rich-media {
              width: 45%;
              max-width: 466px;
              min-width: 150px;
              margin-top: 30px;
              margin-bottom: 42px;
              opacity: 0;
              transform: translate(0px, 10px);
              transition: transform 1s ease-in-out 0.2s, opacity 1s ease-in-out 0.2s;
              @include bp(md) {
                transform: translate(0px, -10px);
                margin-top: 0px;
              }
              @include bp(ls) {
                transform: translate(-10px, 0px);
                margin-left: 30px;
              }
              &.show {
                transform: none;
                opacity: 1;
                @include bp(ls) {
                  transform: none;
                }
              }
            }
            h1 {
              display: none !important;
              font-family: $chunkfive;
              color: $white;
              text-align: center;
              opacity: 0;
              transform: translate(0px, 20px);
              transition: transform 1s ease-in-out 0.2s, opacity 1s ease-in-out 0.2s;
              @include bp(md) {
                display: block !important;
              }
              @include bp(ls) {
                display: none !important;
              }
              &.show {
                transform: none;
                opacity: 1;
              }
            }
            h2 {
              display: none !important;
              font-family: $exo;
              color: $white;
              text-align: center;
              margin: 0;
              opacity: 0;
              transform: translate(0px, 20px);
              transition: transform 1s ease-in-out 0.4s, opacity 1s ease-in-out 0.4s;
              @include bp(md) {
                display: block !important;
              }
              @include bp(ls) {
                display: none !important;
              }
              &.show {
                transform: none;
                opacity: 1;
              }
              span {
                display: block;
              }
            }
          }
        }
      }
    }
  }
  .owl-nav {
    width: 85%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    height: 100%;
    @include bp(md) {
      max-width: 918px;
      width: 100%;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
    .owl-prev,
    .owl-next {
      width: 17px;
      height: 40px !important;
      background: url('../img/slider_sprite.png') no-repeat;
      background-size: 280%;
      position: absolute;
      top: -54%;
      text-indent: -99999px;
      @include bp(md) {
        width: 30px;
        height: 70px !important;
        top: -50%;
      }
    }
    .owl-prev {
      left: 0px;
      @include bp(md) {
        left: 40px;
      }
    }
    .owl-next {
      right: 0px;
      background-position: -30px 0px;
      @include bp(md) {
        right: 40px;
        background-position: -54px 0px;
      }
    }
  }
  .owl-dots {
    display: none;
  }
}

.owl-news {
  .owl-nav {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    @include bp(md) {
      width: 95%;
    }
    .owl-prev {
      width: 12px;
      height: 30px;
      background: url(../img/slider_sprite.png) no-repeat;
      background-size: 280%;
      position: absolute;
      top: -50%;
      left: 0;
      transform: translateY(-50%);
      text-indent: -999999px;
      @include bp(md) {
        width: 30px;
        height: 70px;
      }
    }
    .owl-next {
      width: 12px;
      height: 30px;
      background: url(../img/slider_sprite.png) no-repeat;
      background-size: 280%;
      background-position: -25px 0px;
      position: absolute;
      top: -50%;
      right: 0;
      transform: translateY(-50%);
      text-indent: -999999px;
      @include bp(md) {
        width: 30px;
        height: 70px;
        background-position: -54px 0px;
      }
    }
  }
  .owl-dots {
    position: relative;
    top: -50px;

    .owl-dot {
      span {
        border-radius: 0;
      }
      &.active {
        span {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.owl-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  .owl-stage-outer {
    height: 100%;
    .owl-stage {
      height: 100%;
      .owl-item {
        height: 100%;
      }
    }
  }
  img {
    width: 100%;
    height: 100vh;
  }
}

.owl-text {
  overflow: visible !important;
  .owl-nav {
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    height: 100%;
    display: block !important;

    .owl-prev,
    .owl-next {
      width: 17px;
      height: 40px !important;
      background: url('../img/slider_sprite.png') no-repeat;
      background-size: 280%;
      position: absolute;
      top: -54%;
      text-indent: -99999px
    }
    .owl-prev {
      left: -25px;
    }
    .owl-next {
      right: -25px;
      background-position: -30px 0px;
    }
  }
}
