

/*=========================================
          TESTIMONIALS SECTION
==========================================*/

.testimonials {
  background: linear-gradient(270deg, #865faa, #5b377b);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @include bp(md) {
    .owl-nav {
      display: none;
    }
  }
  .owl-testiminial {
    padding: 0;
    list-style: none;

    li {
      overflow: hidden;


    }
  }
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 38px 208px -24px rgba(0,0,0,0.75);
    overflow: hidden;
    flex-direction: column;
  }
  .top,
  .bottom {
    height: 80vh;
    width: 95%;
    @include bp(md) {
      height: 50vh;
      width: 100%;
    }
    position: relative;
  }
  .top {
    background-image: url('../img/testimonial-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -50px;
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
    }
  }
  .bottom {
    text-align: center;
    color: white;
    @include bp(md) {
      padding: 45px 0;
    }
    h2 {
      font-family: $chunkfive;
      font-size: 8vw;
      width: 100%;
      position: relative;
      margin: 0% auto 5%;
      color: #FFF !important;
      text-align: center;
      line-height: normal;
      @include bp(sm) {
        font-size: 6vw;
        margin-bottom: 30px;
      }
      @include bp(md) {
        font-size: 5vw !important;
        margin-bottom: 4%;
      }
      @include bp(ls) {
        font-size: 5.5vw;
      }
    }
    .content {
      max-width: 1050px;
      margin: 0 auto;

      p {
        font-family: $exo;
        font-size: 5.5vw;
        margin: 0 auto 20px;
        @include bp(md) {
          font-size: 20px !important;
          margin-bottom: 0;
        }
        @include bp(ls) {
          font-size: 2.5vw;
        }
      }
      article {
        font-family: $exo;
        font-weight: bold;
        font-size: 5vw;
        @include bp(sm) {
          font-size: 3vw;
          margin-top: 30px;
        }
        @include bp(md) {
          font-size: 1.5vw !important;
          margin-top: 0px;
        }
        @include bp(ls) {
          font-size: 2vw;
        }
      }
      .owl-nav {
        width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        position: absolute;
        display: none !important;
        @include bp(md) {
          display: block !important;
        }
        height: 60px;
        top: 10px;
        bottom: 0;
        .owl-prev,
        .owl-next {
          top: 0;
          width: 27px;
          height: 60px !important;
        }
        .owl-next {
          right: -25px;
          background-position: -48px 0px;
        }
      }
      .owl-item {
        div {
          max-width: 1000px;
          margin: auto;
        }
      }
    }
  }
}
