/*==========================================
           variables
==========================================*/
$header     : #333947;
$white      : #ffffff;
$black      : #000000;
$pink       : #e40d59;

$chunkfive  : 'chunkfiveroman';
$exo        : 'Exo', sans-serif;
$londontube : 'london_tubenormal';

$sm: 768px;
$md: 992px;
$xl: 1400px;
$ls: ls;
