/*==========================================
			  Genaral Styles
==========================================*/

html {
   margin: 0px;
   height: 100%;
}

body {
   height: 100%; /* parallax */
   font-family: Arial, sans-serif;
   color: #000;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   margin-top: 0px;
}

.owl-carousel {
  overflow: hidden;
}

#fp-nav {
  display: none;
}

.cls-1 {
  fill: none;
}

.cls-2 {
  clip-path: url(#clip-path);
}

.cls-3 {
  fill: #fff;
}

.cls-4 {
  fill: #fcee21;
}

.break-word {
  span {
    display: block;
  }
}

/*=========================================
            CAROUSEL HOME
==========================================*/
.section.carousel {
  ul {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    div {
      height: 100%;
    }

    li {
      width: 100%;
      height: 100%;

      &:first-child {
        figcaption {
          max-width: 876px;
        }
      }

      figure {
        position: relative;
        height: 100%;

        .background {
          max-width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
        }

        figcaption {
          width: 100%;
          max-width: 800px;
          margin: 0 auto;
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          transform: translateY(-50%);

          .wrap_content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .img-responsive {
              max-width: 50%;
              min-width: 220px;
              opacity: 0;
              transform: translate(0px, -20px);
              transition: transform 1s ease-in-out 0.2s, opacity 1s ease-in-out 0.2s;

              &.show {
                transform: none;
                opacity: 1;
              }
            }
            .logo-rich-media {
              width: 100%;
              max-width: 30%;
              min-width: 150px;
              margin-top: 30px;
              opacity: 0;
              transform: translate(0px, 10px);
              transition: transform 1s ease-in-out 0.2s, opacity 1s ease-in-out 0.2s;

              &.show {
                transform: none;
                opacity: 1;
              }
            }
            h1 {
              display: none !important;
              font-family: $chunkfive;
              color: $white;
              text-align: center;
              opacity: 0;
              transform: translate(0px, 20px);
              transition: transform 1s ease-in-out 0.2s, opacity 1s ease-in-out 0.2s;

              &.show {
                transform: none;
                opacity: 1;
              }
            }
            h2 {
              display: none !important;
              font-family: $exo;
              color: $white;
              text-align: center;
              margin: 0;
              opacity: 0;
              transform: translate(0px, 20px);
              transition: transform 1s ease-in-out 0.4s, opacity 1s ease-in-out 0.4s;

              &.show {
                transform: none;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  .owl-nav {
    width: 85%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    height: 100%;

    .owl-prev,
    .owl-next {
      width: 17px;
      height: 40px !important;
      background: url('../img/slider_sprite.png') no-repeat;
      background-size: 280%;
      position: absolute;
      top: -54%;
      text-indent: -99999px
    }
    .owl-prev {
      left: 0px;
    }
    .owl-next {
      right: 0px;
      background-position: -30px 0px;
    }
  }
  .owl-dots {
    display: none;
  }
}

/*=========================================
      RICH MEDIA EXPERTS SECTION
==========================================*/
.rich-media-experts {
  overflow: hidden;
  background: linear-gradient(135deg, #6fe19b, #7198e8, #8c61e3);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 19s ease infinite;
  -moz-animation: AnimationName 19s ease infinite;
  animation: AnimationName 19s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:5% 0%}
      50%{background-position:96% 100%}
      100%{background-position:5% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:5% 0%}
      50%{background-position:96% 100%}
      100%{background-position:5% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:5% 0%}
      50%{background-position:96% 100%}
      100%{background-position:5% 0%}
  }

  .content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    // h2 {
    //   width: 100%;
    //   margin: 40px auto 0;
    //   color: #06303a;
    //   text-align: center;
    //   font-family: $chunkfive;
    //   font-size: 26px;
    //   word-break: break-all;
    //   &::first-line {
    //     font-size: 30px;
    //   }
    // }
    .culunm {
      .box {
        width: 100%;
        text-align: left;
        margin: 0 auto;

        h3 {
          font-family: $exo;
          font-size: 4vw;
          margin: 10px auto 0;
        }
      }
      ul {
        margin-bottom: 0;

        li {
          font-family: $exo;
          font-size: 3vw;
          list-style: none;

          &:before {
            content: '.';
            position: relative;
            top: -5px;
            left: -5px;
            display: inline-block;
            vertical-align: middle;
            line-height: 0;
            height: 0;
          }
        }
      }
      &.center {
        display: none;
      }
      &.left {
        opacity: 0;
        transform: translate(0px, 30px);
      }
      &.right {
        opacity: 0;
        transform: translate(0px, 30px);
      }
    }
  }

  &.init {
    .content {
      .left,
      .right {
        opacity: 1 !important;
        transform: none !important;
        transition: opacity 0.5s ease-out 0.1s, transform 0.5s ease-out 0.1s;
      }
    }
  }
}


/*=========================================
  Large devices (desktops, 992px and up)
==========================================*/
@media (min-width: 992px) {
  /***[ CAROUSEL HOME ]***/
  .section.carousel {
    ul {
      li {
        figure {
          figcaption {
            .wrap_content {

              h1,h2 {
                display: block !important;
              }
              .img-responsive {
                display: none !important;
              }
              .logo-rich-media {
                transform: translate(0px, -10px);
                margin-top: 0px;
              }
            }
          }
        }
      }
    }
    .owl-nav {
      max-width: 918px;
      width: 100%;
      margin: 0 auto;
      left: 0;
      right: 0;

      .owl-prev,
      .owl-next {
        width: 30px;
        height: 70px !important;
        top: -50%;
      }
      .owl-prev {
        left: 40px;
      }
      .owl-next {
        right: 40px;
        background-position: -54px 0px;
      }
    }
  }
  /***[ HAMBURGUER MENU ]***/

  /***[  RICH MEDIA EXPERTS SECTION   ]***/
  .rich-media-experts {

    .content {
      justify-content: center !important;

      h2 {
        font-size: 3.5vw !important;

        &::first-line {
          font-size: 5vw !important;
        }
      }
      .culunm {
        .box {
          &:first-child {
            margin-bottom: 50px;
          }

          h3 {
            font-size: 2vw !important;
            position: relative;
            margin-bottom: 10px;
            z-index: 2;
          }
          &.ads {
            h3 {
              text-align: right;
              margin-bottom: 10px;

              &:before {
                content: "01";
                position: absolute;
                top: -12px;
                right: 0;
                font-family: "chunkfiveroman";
                font-size: 45px;
                color: rgba(255, 255, 255, 0.75);
                z-index: -1;
              }
            }
            li {
              text-align: right;
            }
          }
          &.creative {
            h3 {
              text-align: right;
              margin-bottom: 10px;

              &:before {
                 content: "02";
                position: absolute;
                top: -12px;
                right: 0;
                font-family: "chunkfiveroman";
                font-size: 45px;
                color: rgba(255, 255, 255, 0.75);
                z-index: -1;
              }
            }
            li {
              text-align: right
            }
          }
          &.transcreation {
            h3 {
              &:before {
                content: "03";
                position: absolute;
                top: -12px;
                left: 0;
                font-family: "chunkfiveroman";
                font-size: 45px;
                color: rgba(255, 255, 255, 0.75);
                z-index: -1;
              }
            }
            ul {
              padding-left: 5px;
            }
          }
          &.ad-server {
            h3 {
              &:before {
                content: "04";
                position: absolute;
                top: -12px;
                left: 0;
                font-family: "chunkfiveroman";
                font-size: 45px;
                color: rgba(255, 255, 255, 0.75);
                z-index: -1;
              }
            }
            ul {
              padding-left: 5px;
            }
          }
          ul {
            margin-bottom: 0;

            li {
              font-size: 1vw;
              position: relative;
            }
          }
        }
        &.center {
          display: block;
          width: 40%;

          img {
            width: 100%;
          }
        }
        &.left {
          opacity: 0;
          transform: translate(-30px, 0px);
        }
        &.right {
          opacity: 0;
          transform: translate(30px, 0px);
        }
      }
    }
  }

  #mobile {
    .ection.about-us,
    .proven-experience,
    .our-brands{
      background-attachment: local;
    }
  }
}

/*=========================================
              LANDSCAPE
==========================================*/
@media screen and (orientation:landscape) {
  #mobile {
    .section.carousel {
      ul {
        li {
          figure {
            figcaption {
              .wrap_content {
                flex-wrap: nowrap;
                flex-direction: row;

                h1,h2 {
                  display: none !important;
                }
                .img-responsive {
                  display: block !important;
                  max-width: 40%;
                  transform: translate(10px, 0px);

                  &.show {
                    transform: none;
                  }
                }
                .logo-rich-media {
                  transform: translate(-10px, 0px);
                  margin-left: 30px;

                  &.show {
                    transform: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /***[  RICH MEDIA EXPERTS SECTION   ]***/
  .rich-media-experts {
    .content {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;

      // h2 {
      //   font-size: 2.5vw;
      //
      //   &::first-line {
      //     font-size: 3vw
      //   }
      // }
      .box {
        width: 40%;

        h3 {
          font-size: 2.5vw;
          margin: 10px auto 0;
        }
        ul {

          li {
            font-size: 1.8vw;
          }
        }
      }
    }
  }
}

.title--double-line {
  span {
    display: block;
  }
}

.captcha__container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
  @include bp(sm) {
    justify-content: left
  }
}
